body {background-color: #3d697e;}
button {color: #ffffff;font-family:Times New Roman;font-size: 115%;background-color: #2a576b;border-style: none;}
p {color: #ffffff;font-family:Times New Roman;font-size: 110%;}