body {background-color: #E3C4A2;}
h2 {color: #fff1e1;font-family:Times New Roman;text-align: left; margin-left: auto;}
pre {margin-left: auto; margin-right: 290px ;background-color: #D1AC85;color: #FFFFFF;font-family:Times New Roman;font-size: 105%;width: 600px;}
img {float: left;height: 580px; margin-right: 25px;}